/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #000000;
  --light-color: #5ac0ab;
  --text-color: #ec7e1c;
  --rating-color: #f0d678;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --background: url("../src/assets/images/bg.png");
}

body {
  font-family: var(--font-family) !important;
  background: var(--background);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  position: relative;
  height: 100vh !important;
}
.bg-nav {
  background-color: var(--main-color) !important;

  opacity: 0.7;
}
.text {
  color: var(--light-color) !important;
}

.title {
  color: var(--text-color);
}
.btn {
  border: 2px solid var(--light-color) !important;
  color: var(--text-color) !important;
  font-size: larger !important;
  background-color: var(--rating-color) !important;
}
.btn:hover {
  transform: scale(0.96) !important ;
  background-color: var(--text-color) !important;
  color: wheat !important;
  font-size: larger !important;
}
.border {
  border: 1px solid var(--main-color) !important;
  border-radius: 30px;
}
.imgHome {
  background-color: #f1f1f1;
}
@media (max-width: 1000px) {
  .navbar-toggler-icon {
    background-color: var(--text-color);
  }
}
.hr {
  color: var(--light-color);
  width: 2px;
}
